
.infoHeader{
    font-size: 3rem;
    font-weight: bolder;
    color: #2b2b2b;
}

.profile_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;

}

.profile {
    margin: 2rem;
}